* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif; }

body {
  background-image: url("../img/canva.png");
  background-repeat: no-repeat;
  background-size: cover; }

/*HEADER*/
.header {
  background-color: rgba(250, 243, 221, 0.575);
  margin-top: 20px;
  margin-bottom: 40px; }
  .header #menu_on {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 2;
    margin-left: 45px; }
    .header #menu_on span {
      width: 100%;
      height: 4px;
      border-radius: 4px;
      display: block;
      position: absolute;
      background-color: #66bebd;
      transition: all 0.25s ease;
      transform-origin: 0px 100%; }
      .header #menu_on span:nth-child(2) {
        top: calc(50% - 2px); }
      .header #menu_on span:nth-child(3) {
        bottom: 0; }
  .header .logo {
    max-width: 200px;
    margin: auto;
    display: block; }
    .header .logo:hover {
      transition: all 300ms;
      transform: scale(1.2, 1.2); }
  .header nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    z-index: 1;
    padding-top: 90px;
    opacity: 0;
    transition: all 0.75s;
    font-size: 1.2em;
    overflow-y: auto;
    background-color: #e7c6d7; }
    .header nav ul {
      list-style: none; }
      .header nav ul li a {
        display: block;
        text-decoration: none;
        padding: 10px;
        color: #b8f2e6;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        transition: all 0.25s; }
        .header nav ul li a:hover {
          color: #66bebd; }
      .header nav ul li div {
        margin-top: 10px;
        margin-bottom: 10px; }
        .header nav ul li div a {
          display: inline; }
          .header nav ul li div a img {
            max-width: 20px;
            display: inline;
            align-items: center; }
            .header nav ul li div a img:hover {
              transition: all 300ms;
              transform: scale(1.2, 1.2); }

.visible_menu span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px); }

.visible_menu span:nth-child(2) {
  opacity: 0; }

.visible_menu span:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, 3px); }

.visible_menu nav {
  left: 0;
  opacity: 1; }

/*FIN DE HEADER*/
/*INDEX*/
section .index {
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
  border-radius: 15px; }
  section .index_parrafo {
    background-color: rgba(244, 132, 152, 0.863);
    color: #b8f2e6;
    border-radius: 15px;
    box-shadow: 0 0 10px #f48498;
    font-size: 17px;
    width: 85vw;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center; }

section .esmalte {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  section .esmalte_box {
    position: relative;
    text-align: center;
    margin: 10px; }
    section .esmalte_box img {
      width: 230px;
      border-radius: 15px;
      box-shadow: 0 0 10px #e7c6d7; }
    section .esmalte_box_texto {
      position: absolute;
      font-size: 17px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      padding-top: 34%;
      border-radius: 15px;
      color: #b8f2e6;
      text-shadow: 2px 2px 2px rgba(145, 40, 72, 0.74);
      font-weight: 600; }
      section .esmalte_box_texto a {
        text-decoration: none;
        font-size: 18px;
        color: #e7c6d7;
        font-weight: 600; }
        section .esmalte_box_texto a:hover {
          transition: 300ms;
          font-size: 20px; }
      section .esmalte_box_texto:hover {
        transition: 300ms;
        background-color: rgba(244, 132, 152, 0.863); }

/*FIN INDEX*/
/*SERVICIOS*/
.servicios {
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: center; }
  .servicios section .card:hover {
    transform: scale(1.04) translateY(-5px);
    transition: all 300ms;
    box-shadow: 0 20px 20px rgba(145, 40, 72, 0.74); }
  .servicios section .card .columna {
    background-color: #b8f2e6;
    color: #f48498;
    height: 100%; }
    .servicios section .card .columna table {
      margin-bottom: 45px;
      width: 100%; }
      .servicios section .card .columna table tr td {
        padding: 5px;
        padding-left: 10px;
        font-size: 15px; }
      .servicios section .card .columna table tr th {
        color: #66bebd;
        font-size: 1.3rem;
        padding: 10px; }
  .servicios section .card button {
    background-color: #ff477e;
    border-radius: 15px;
    border-color: #ff477e;
    position: absolute;
    bottom: 10px;
    margin-left: 10px; }
    .servicios section .card button:hover {
      transform: scale(1.04) translateY(-5px);
      cursor: pointer;
      transition: all 300ms;
      box-shadow: 0 3px 3px rgba(145, 40, 72, 0.74); }
    .servicios section .card button a {
      text-decoration: none;
      color: #b8f2e6;
      padding: 10px;
      text-align: center; }
      .servicios section .card button a:hover {
        color: #66bebd; }

/*FIN SERVICIOS*/
/*GALERIA*/
.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .galeria img {
    width: 28vw;
    border: 1.5px solid #e7c6d7;
    display: inline;
    margin: 0.5vw; }
    .galeria img:hover {
      transition: 300ms;
      transform: scale(1.2, 1.2); }

/*FIN GALERIA*/
/*ACLARACIONES*/
section .caja1, section .caja2 {
  background-color: rgba(184, 242, 230, 0.863);
  color: #66bebd;
  border-radius: 70px;
  box-shadow: 0 0 10px #66bebd;
  font-size: 17px;
  width: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 35px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  section .caja1 div img, section .caja2 div img {
    display: block;
    margin: auto;
    width: 70px;
    margin-top: 10px; }
  section .caja1 div p, section .caja2 div p {
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px; }

section .caja2 {
  align-items: center;
  justify-content: space-between;
  border-radius: 250px 250px 70px 70px; }
  section .caja2 ul {
    list-style-image: url("../img/destellos.png"); }
    section .caja2 ul li {
      list-style-position: inside;
      padding-top: 10px;
      padding-bottom: 10px; }
  section .caja2 img {
    border-radius: 300px;
    width: 30vw; }

section .gif {
  width: 35vw;
  display: block;
  margin: auto; }

/*FIN ACLARACIONES*/
/*CONTACTO*/
.contacto {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: 2fr 0.5fr;
  grid-template-areas: "form form" "gifuno gifdos";
  justify-items: center; }
  .contacto__gif {
    grid-area: gifuno;
    width: 40vw;
    transition: all 300ms; }
    .contacto__gif:hover {
      transform: scale(1.2, 1.2); }
  .contacto__form {
    grid-area: form;
    text-align: center;
    align-self: center;
    color: #66bebd; }
  .contacto__fieldset {
    border: 5px solid rgba(184, 242, 230, 0.767);
    width: 60vw;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .contacto__input {
    background-color: #e7c6d7;
    color: #f48498;
    border-radius: 15px;
    box-shadow: 0 0 5ps rgba(145, 40, 72, 0.74);
    font-size: 15px;
    width: 70vw;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
    text-align: auto;
    border: 2px solid #e7c6d7; }
    .contacto__input--newsletter {
      width: 20px; }
    .contacto__input--enviar {
      background-color: #e7c6d7;
      color: #b8f2e6;
      border-radius: 15px;
      box-shadow: 0 0 5ps rgba(145, 40, 72, 0.74);
      font-size: 20px;
      width: 30vw;
      margin-top: 15px;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
      padding: 8px;
      text-align: auto;
      border: 2px solid #e7c6d7;
      font-weight: 600;
      letter-spacing: 1.2px; }
      .contacto__input--enviar:hover {
        transition: all 300ms;
        transform: scale(1.04) translateY(-5px);
        cursor: pointer;
        box-shadow: 0 5px 5px #66bebd;
        color: #66bebd; }
  .contacto__archivo {
    text-align-last: center;
    width: 85vw; }
  .contacto__gifdos {
    grid-area: gifdos;
    width: 40vw;
    transition: all 300ms; }
    .contacto__gifdos:hover {
      transform: scale(1.2, 1.2); }

/*FIN CONTACTO*/
/*FOOTER*/
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(250, 243, 221, 0.575);
  height: 100%;
  margin-top: 40px; }
  .footer nav ul {
    padding: 0; }
    .footer nav ul li {
      padding: 5px;
      list-style: none;
      display: list-item;
      text-align: left;
      transition: 0.5s; }
      .footer nav ul li:hover {
        background-color: #e7c6d7;
        border-radius: 200px 200px 200px 200px; }
      .footer nav ul li a {
        text-decoration: none;
        color: #66bebd;
        font-size: 15px;
        font-weight: 600;
        padding: 5px; }
        .footer nav ul li a:hover {
          color: white; }
  .footer div a {
    text-decoration: none;
    margin: 5px; }
    .footer div a img {
      max-width: 20px; }
      .footer div a img:hover {
        transition: all 300ms;
        transform: scale(1.2, 1.2); }
  .footer div iframe {
    margin: 20px; }

/*FIN FOOTER*/
/*ERROR*/
.error {
  background-image: url("../img/error.png");
  background-repeat: no-repeat;
  height: 70vw;
  background-size: cover; }
  .error button {
    background-color: #66bebd;
    border-radius: 15px;
    border-color: #66bebd;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 0.3vw;
    width: 10vw;
    left: 40Vw;
    top: 34vw;
    transition: all 300ms; }
    .error button:hover {
      transform: scale(1.08) translateY(-5px);
      cursor: pointer;
      transition: all 300ms;
      box-shadow: 0 10px 10px #407776; }
    .error button a {
      text-decoration: none;
      font-size: 1.3vw;
      color: #935fa7;
      width: 100%; }

/*FIN ERROR*/
@media only screen and (max-width: 599px) {
  footer div iframe {
    display: none; } }

/*pantallas medianas*/
@media only screen and (min-width: 600px) {
  /*ACLARACIONES*/
  section .caja1, section .caja2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline; }
    section .caja1 div, section .caja2 div {
      width: 30vw; }
  section .caja2 {
    border-radius: 175px 70px 70px 70px; }
  /*FIN ACLARACIONES*/ }

/*pantalla normal*/
@media only screen and (min-width: 992px) {
  /*ACLARACIONES*/
  section .caja1 div, section .caja2 div {
    width: 20vw; }
  section .caja2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 70px 175px 70px 70px; }
    section .caja2 ul {
      order: -1;
      padding: 30px; }
    section .caja2 img {
      width: 25vw;
      margin-left: 10px; }
  /*FIN ACLARACIONES*/
  /*CONTACTO*/
  .contacto {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "gifuno form gifdos";
    justify-content: center;
    align-content: center; }
    .contacto__fieldset {
      width: 50vw; }
    .contacto__input {
      width: 30vw; }
    .contacto__archivo {
      width: 30vw; }
    .contacto__gif {
      align-self: start;
      width: 20vw; }
    .contacto__gifdos {
      align-self: end;
      width: 20vw; }
  /*FIN CONTACTO*/ }
