//variables

$colorRosa: rgb(244, 132, 152);
$colorVerde: rgb(102, 190, 189);
$colorLila: rgb(231, 198, 215);
$colorFondoLila: rgba(231, 198, 215, 0.863);
$colorFondoRosa: rgba(244, 132, 152, 0.863);
$colorVerdeA: rgb(184, 242, 230);
$colorFondoVerde: rgba(184, 242, 230, 0.863);
$borde: 15px;

@mixin box ( $colorFondo, $colorTexto, $borde, $boxShadow, $fontSize, $ancho, $margenTop, $margenBottom, $margenLeft, $margenRight, $padding, $alineacion) {
    background-color: $colorFondo;
    color: $colorTexto;
    border-radius: $borde;
    box-shadow: $boxShadow;
    font-size: $fontSize;
    width: $ancho;
    margin-top: $margenTop;
    margin-bottom: $margenBottom;
    margin-left: $margenLeft;
    margin-right: $margenRight;
    padding: $padding;
    text-align: $alineacion;
}

@mixin flex ( $flexDirection, $wrap, $justify, $align) {
    display: flex;
    flex-direction: $flexDirection;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}



//anidacion
*{
    margin:0;
    padding:0;
    font-family: 'Dosis', sans-serif;
}

body{
    background-image: url("../img/background.png");
    background-size: cover;
}

/*HEADER*/
header{
    background-color: rgba(250, 243, 221, 0.575);
    padding-top: 20px;
    margin-bottom: 20px;
    @include flex( column, nowrap, center, center);

    .logo{
        max-width: 170px;
    
        &:hover{
            transition: all 300ms;
            transform: scale(1.1,1.1);
        }
    }
    
    nav{
        div{
            
            .navbar-toggler{
                margin-top: 20px;
                transition: all 300ms;
                
                &:hover{
                    transform: scale(1.1,1.1);
                }
            }
            
            ul{

                li{
                    border-bottom: 1px solid rgba(255,255,255,0.2);

                    a{
                        text-decoration: none;
                        transition: all 300ms;

                        &:hover{
                            transform: scale(1.02,1.02);
                        }

                        img{
                            max-width: 20px;
                            margin: 8px;
                            margin-left: auto;
                            transition: all 300ms;

                            &:hover{
                                transform: scale(1.2,1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}
/*FIN DE HEADER*/


/*INDEX*/
section{
    .index{
        margin-left: auto;
        margin-right: auto;
        width: 88vw;
        border-radius: $borde;

        &_parrafo{
            @include box( $colorFondoRosa, $colorVerdeA, $borde, 0 0 10px $colorRosa, 1rem, 88vw, 40px, 40px, auto, auto, 15px, center);

            p{
                margin: 0;
            }
        }
    }

    .esmalte{
        @include flex( row, wrap, center, center);

        &_box{
            position: relative;
            text-align: center; 
            margin: 10px;   
                
            img{
                width: 230px;
                border-radius: $borde;
                box-shadow: 0 0 10px $colorLila;
                
            }
                
            &_texto{
                position: absolute;
                font-size: 1rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                padding: 5px;
                padding-top: 34%;
                border-radius: $borde;
                color: $colorVerdeA;
                text-shadow: 2px 2px 2px rgba(145, 40, 72, 0.74);
                font-weight: 600;
            
                a{
                    text-decoration: none;
                    font-size: 18px;
                    color: $colorLila;
                    font-weight: 600;

                    &:hover{
                        transition: 300ms;
                        font-size: 20px;
                    }
                }

                &:hover{
                    transition: 300ms;
                    background-color: $colorFondoRosa;
                }
            } 
        }    
    }
}


/*FIN INDEX*/  


/*SERVICIOS*/
.servicios{
    margin-left: 4vw;
    margin-right: 4vw;
    justify-content: center;

    section{
        .card{
            transition: all 300ms;

            &:hover{
                transform: scale(1.04) translateY(-5px);
                box-shadow: 0 20px 20px rgba(145, 40, 72, 0.74);
            }
            
            .columna{
                background-color: $colorVerdeA;
                color: $colorRosa;
                height: 100%;

                table{
                    margin-bottom: 45px;
                    width: 100%;

                    tr{
                        td{
                            padding: 5px;
                            padding-left: 10px;
                            font-size: 1rem;
                        }

                        th{
                            color: $colorVerde;
                            font-size: 1.05rem;
                            padding: 5px;

                            img{
                                max-width: 50px;
                            }
                        }
                    }
                }
            }

            button{
                background-color: rgb(255, 71, 126);
                border-radius: $borde;
                border-color: rgb(255, 71, 126);
                position: absolute;
                bottom: 10px;
                margin-left: 10px;
                

                &:hover{
                    transform: scale(1.04) translateY(-5px);
                    cursor: pointer;
                    transition: all 300ms;
                    box-shadow: 0 3px 3px rgba(145, 40, 72, 0.74);
                }
                                    
                a{
                    text-decoration: none;
                    color: $colorVerdeA;
                    padding: 10px;
                    text-align: center;

                    &:hover{
                        color: $colorVerde;
                    }
                }
            }
        }
    }
}
/*FIN SERVICIOS*/


/*GALERIA*/
.galeria{
    @include flex( row, wrap, center, center);

    img{
        width: 28vw;
        border: 1.5px solid $colorLila;
        display: inline;
        margin: 0.5vw;

        &:hover{
            transition: 300ms;
            transform: scale(1.2,1.2);
        }
        
    }
}
/*FIN GALERIA*/


/*ACLARACIONES*/
section{
    .caja1{
        @include box( $colorFondoVerde, $colorVerde, 70px, 0 0 10px $colorVerde, 17px, auto, 5vw, 5vw, 5vw, 5vw, 35px, left);
        @include flex(column, wrap, space-around, center);
        
        div{
            img{
                display: block;
                margin: auto;
                width: 70px;
                margin-top: 10px;
            }
    
            p{
                line-height: 25px;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
    
    .caja2{
        @extend .caja1;
        align-items: center;
        justify-content: space-between;
        border-radius: 250px 250px 70px 70px;
        
        ul{
            list-style-image: url("../img/destellos.png");
            padding: 0;
    
            li{
                list-style-position: inside;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    
        img{
            border-radius: 300px;
            width: 30vw;
        }
    }
    
    .gif{
        width: 35vw;
        display: block;
        margin: auto;
    }
}
/*FIN ACLARACIONES*/


/*CONTACTO*/
.contacto{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 2fr 0.5fr;
    grid-template-areas: "form form"
                         "gifuno gifdos";
    justify-items: center;

    &__gif{
        grid-area: gifuno;
        width: 40vw;
        transition: all 300ms;

        &:hover{
            transform: scale(1.2,1.2);
        }
    }

    &__form{
        grid-area: form;
        text-align: center;
        align-self: center;
        color: $colorVerde;
    }

    &__fieldset{
        border: 5px solid rgba(184, 242, 230, 0.767);
        width: 85vw;
        border-radius: $borde;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__input{
        @include box( $colorLila, $colorRosa, $borde, 0 0 5px rgba(145, 40, 72, 0.74), 15px, 70vw, 5px, 5px, 5px, 5px, 8px, left);
        border: 2px solid rgb(231, 198, 215);

        &--newsletter{
            width: 20px;
        }

        &--enviar{
            @include box( $colorLila, $colorVerdeA, $borde, 0 0 5px rgba(145, 40, 72, 0.74), 20px, 70vw, 15px, 5px, 5px, 5px, 3px, auto);
            border: 2px solid rgb(231, 198, 215);
            font-weight: 600;
            letter-spacing: 1.2px;

            &:hover{
                transition: all 300ms;
                transform: scale(1.04) translateY(-5px);
                cursor: pointer;
                box-shadow: 0 5px 5px $colorVerde;
                color: $colorVerde;
            }
        }
        
    }

    &__archivo{
        text-align-last: center;
        width: 70vw;
    }

    &__gifdos{
        @extend .contacto__gif;
        grid-area: gifdos;
    }
}
/*FIN CONTACTO*/


/*FOOTER*/
.footer{
    @include flex( row, wrap, center, center);
    background-color: rgba(250, 243, 221, 0.575);
    padding: 20px;
    margin-top: 20px;

    &_nav{
        nav{
            ul{
                padding: 0;
                margin: 0;
                li{
                    padding: 3px;
                    list-style: none;
                    text-align: left;
                    transition: 0.5s; 
    
                    &:hover{
                        background-color: rgb(231, 198, 215);
                        border-radius: 200px 200px 200px 200px;
                    }
    
                    a{    
                        text-decoration: none;
                        color: $colorVerde;
                        font-size: 15px;
                        padding: 5px;
                    }
                }
            }
        }
    }

    &_img{
        margin: 20px;
        a{
            text-decoration: none;
            margin: 5px;

            img{
                max-width: 20px;

                &:hover{
                    transition: all 300ms;
                    transform: scale(1.2,1.2);
                }
            }
        }
    }

    &_direction{
        margin-top: 5px;

        a{
            text-decoration: none;
            color: $colorVerde;
            font-size: 1rem;
        }
    }
}
/*FIN FOOTER*/


/*ERROR*/
.error{
    background-image: url("../img/error.png");
    height: 70vw;
    background-size: cover;

    button{
        background: none;
        border-radius: 5px;
        border-color: $colorVerde;
        position: absolute;
        width: 12vw;
        left: 40Vw;
        top: 34vw;
        transition: all 300ms;

        &:hover{
            transform: scale(1.08) translateY(-5px);
            cursor: pointer;
            box-shadow: 0 3px 3px rgb(64, 119, 118);
        }

        a{
            text-decoration: none;
            font-size: 1rem;
            color: $colorRosa;
            font-weight: 600;
        }
    }
}
/*FIN ERROR*/

@media only screen and (max-width:599px){
    footer div iframe{
        display: none;
    }
}

/*pantallas medianas*/
@media only screen and (min-width:600px){

    /*ACLARACIONES*/
    section{
        .caja1{
            @include flex( row, wrap, space-around, baseline);
    
            div{
                width: 30vw;
            }
        }
        
        .caja2{
            border-radius: 175px 70px 70px 70px;
        }
    }
    /*FIN ACLARACIONES*/


    /*FOOTER*/
    .footer{
    
        &_img{
            margin-left: 70px;
            margin-right: 70px;
        }

        &_nav{
            margin-bottom: 20px;
        }

        &_direction{
            display: none;
        }
    }
    /*FIN FOOTER*/
}

/*pantalla normal*/
@media only screen and (min-width:992px){   

    /*ACLARACIONES*/
    section{
        .caja1{
            div{
                width: 20vw;
            }
        }
    
        .caja2{
            @include flex( row, nowrap, space-around, flex-start);
            border-radius: 70px 175px 70px 70px;
        
            ul{
                order: -1;
                padding: 30px;
            }
        
            img{
                width: 25vw;
                margin-left: 10px;
            }
        }
    }
    /*FIN ACLARACIONES*/


    /*CONTACTO*/
    .contacto{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "gifuno form gifdos";
        justify-content: center;
        align-content: center;

        &__fieldset{
            width: 50vw;
        }

        &__input{
            width: 30vw;      
            
            &--enviar{
                width: 30vw;
            }
        }

        &__archivo{
            width: 30vw;
        }

        &__gif{
            align-self: start;
            width: 20vw;
        }
    
        &__gifdos{
            align-self: end;
            width: 20vw;
        }
    }
    /*FIN CONTACTO*/

    /*FOOTER*/
    .footer{
        &_nav{
            margin-bottom: 0;
        }
    }
    /*FIN FOOTER*/
}
